@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap&#39;);

:root {
--bg-color: #C8ACD6;
--primary-color:#2E236C;
--secundary-color: #433D8B;
--font: "Nunito Sans", sans-serif;
}

body {
background-color: var(--bg-color);
color: var(--primary-color);
font-family: var(--font);
height: 100vh;
margin: 0;
}

header{
background-color: var(--secundary-color);
text-align: center;
}

h1{
font-size: 2rem;
color: var(--bg-color);
font-weight: 700;
}

nav{
display: flex;
}